{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Partial payment{% endblock title %}

{% block content %}
<br>
<div class="col-6 offset-3">
<h4>Naqd va plastik to'lov summalarini kiritish!</h4>
    <p>Ummumiy summa: {{ object.get_total }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}<br>

        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  To'landi
</button>
        <a href="{% url 'cashier' %}" class="btn btn-outline-primary">Orqaga</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">Haqiqatdan ham buyurtma puli to'landimi?</h5>
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
        <button type="submit" class="btn btn-primary">To'landi</button>
      </div>
    </div>
  </div>
</div>
    </form>
</div>
{% endblock content %}