{% extends 'base.html' %}

{% block content %}
<h1></h1>

<div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Kassir uchun</h5>
    <a class="btn btn-primary" href="{% url 'cashier' %}" role="button">Kirish</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Oshpaz uchun</h5>
    <a class="btn btn-primary" href="" role="button">Kirish</a>
  </div>
</div>


  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Buxgalter uchun</h5>
    <a class="btn btn-primary" href="{% url 'admin_page' %}" role="button">Kirish</a>
  </div>
</div>
</div>

{% endblock content %}