{% extends 'admin_page/admin.html' %}
{% block title %}Buxgalter sahifasi{% endblock title %}
{% block content %}
<p></p>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="{% url 'admin_page' %}" class="btn btn-outline-primary"><h4>Bugungi buyurtmalar</h4></a>
  <a href="{% url 'admin_page1' %}" class="btn btn-outline-primary"><h4>Haftalik buyurtmalar</h4></a>
  <a href="{% url 'admin_page2' %}" class="btn btn-outline-primary"><h4>Oylik buyurtmalar</h4></a>
</div>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'admin_page' %}">Bugungi kunlik buyurtmalar</a>
    <span class="navbar-text-active">
      <h4>Umumiy summa: {{ umumiy_summa }}</h4>
      </span>
  </div>
</nav>

<table class="table">
  <thead>
    <tr class="table table-dark">
      <th scope="col">Number</th>
      <th scope="col">Mahsulotlar</th>
      <th scope="col">Buyurtma vaqti</th>
      <th scope="col">Narxi</th>
      <th scope="col">Holati</th>
    </tr>
  </thead>
  <tbody>
  {% for basket in today_baskets %}
    <tr>
      <th scope="row">{{ basket.basket.number }}</th>
      <td>{% for product in basket.products %}
        <button type="button" class="btn btn-light">
            {{product.name}} <span class="badge text-bg-secondary">1</span>
        </button>
        {% endfor %}
      </td>
      <td>{{ basket.basket.add_date }}</td>
      <td>{{ basket.price }}</td>
      <td><button type="button" class="btn btn-success">Bajarilgan</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}