{% extends 'admin_page/admin.html' %}
{% block title %}Buxgalter sahifasi{% endblock title %}
{% block content %}
<p></p>
<div class="col-10 offset-2">
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <a href="{% url 'admin_page' %}" class="btn btn-outline-primary"><h4>Bugungi buyurtmalar</h4></a>
  <a href="{% url 'admin_page1' %}" class="btn btn-outline-primary"><h4>Haftalik buyurtmalar</h4></a>
  <a href="{% url 'admin_page2' %}" class="btn btn-outline-primary"><h4>Oylik buyurtmalar</h4></a>
</div>
</div>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'admin_page' %}">Bugungi kunlik buyurtmalar</a>
    <span class="navbar-text-active">
<!--      <h4>Umumiy summa: {{ umumiy_summa }}</h4>-->
      </span>
  </div>
</nav>

<table class="table">
  <thead>
    <tr class="table table-dark">
      <th scope="col">Number</th>
      <th scope="col">Mahsulotlar</th>
      <th scope="col">Buyurtma vaqti</th>
      <th scope="col">Bajarilgan vaqti</th>
      <th scope="col">Narxi</th>
      <th scope="col">Holati</th>
    </tr>
  </thead>
  <tbody>
  {% for order in today_orders %}
    <tr>
      <th scope="row">{{ order.ref_code }}</th>
      <td>{% for order_product in order.products.all %}
        <button type="button" class="btn btn-light">
            {{ order_product.product.name }} <span class="badge text-bg-secondary">{{ order_product.quantity }}</span>
        </button>
        {% endfor %}
      </td>
      <td>{{ order.ordered_date }}</td>
      <td>{{ order.order_completed_date }}</td>
      <td>{{ order.get_total }}</td>
      {% if order.order_completed %}
        <td><button type="button" class="btn btn-success disabled">Bajarilgan</button></td>
      {% else %}
        <td><button type="button" class="btn btn-primary disabled">Bajarilmoqda</button></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}